body{
font-family:Arial,sans-serif;
margin:0;
padding:0;
background:#f4f4f4;
}

header{
background:#003366;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

nav a:hover{
color:yellow;
}

main{
padding:30px;
}

section{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

ul{
line-height:2;
}

form{
display:flex;
flex-direction:column;
}

input,
textarea{
padding:10px;
margin-bottom:15px;
font-size:16px;
}

button{
padding:12px;
background:#003366;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#0055aa;
}

footer{
background:#003366;
color:white;
text-align:center;
padding:20px;
}